<style type="text/css">

.alignIni{
  margin-top: 200px;
  margin-left: 400px;
}
a:hover {color:black;}

.boton_basico{
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #65faa6;
  border-radius: 8px;
  left: 20px;
}

.boton_basico2{
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  background-color: #F8E218;
  border-radius: 8px;
  left: 20px;
}

.boton_grande{
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
  background-color: #65faa6;
  border-radius: 8px;
  left: 20px;
}
.boton_menosancho{
  padding-left: 15px;
  padding-right: 15px;
}
.cuadro_texto{
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  left: 20px;
}
.logoIni {

}
</style>
