<style type="text/css">	
	
	body{
		color: black;
	}
	
	.disa{
		pointer-events: none;
	}
	
	.buttonN{
		font-weight: 600;
		font-size: 20px;
		font: #ffffff;
		background-color: #65faa6;
		margin-top: 30px;
		border: 1px solid black;
		line-height: 20px;
	}
	
	.blist{
		position: relative;
		font-weight: 600;
		font-size: 20px;
		margin-top: 50px;
		z-index: 2;
	}
	
	.bunit{
		padding: 20px;
		border: 1px solid black;
	}
	
	a:hover {color:black;}
	
	
	.navProp{
		position: relative;
		z-index: 100;
	}
	
	.codigo{
		margin-top: 60px; 
		padding: 30px 290px;
		text-align: center;
	}
	
	.nuevaP{
		padding: 30px 250px;
	}
	
	.existeP{
		padding: 30px 250px;
	}
	
	.code{
		position:relative;
		padding: 15px 100px; 
		border: 1px solid black;
		text-align: center;
		line-height: 10pt;
	}
	
	
	.go{
		position:relative;
		padding: 40px;
		border-radius: 100%;
		background-color: #65faa6;
		border: 1px solid black;
		font-weight: 600;
		font-size: 20px;
	}
	</style>