<style type="partida/css">

.user-list tbody td .user-link {
        display: block;
        font-size: 1.25em;
        padding-top: 3px;
        margin-left: 60px;
    }
    a {
        color: #3498db;
        outline: none!important;
    }
.user-list tbody td>img {
        position: relative;
        max-width: 50px;
        float: left;
        margin-right: 15px;
    }

// Imports
// --------------------------------------
@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

// Variables
// --------------------------------------
$scrollbar-width:              10px;
$chat-thread-bgd-color:        rgba(25,147,147,0.2);
$chat-thread-msg-arrow-size:   15px;
$chat-thread-avatar-size:      50px;
$chat-thread-offset:           #{$chat-thread-avatar-size + 30px};

body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.chat-title {
    position: relative;
    clear: both;
    display: inline-block;
    margin: 20px 0px 0px 10px;
    font:24px/28px'Noto Sans',sans-serif;
    color:#000000;
}

.chat-row {
    height: 500px;
    margin: 5px auto 0 auto;
    padding: 0 10px 0 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-row li {
	position: relative;
	clear: both;
	display: inline-block;
	width: 100%;
	padding: 6px 10px 6px 10px;
	font: 16px/20px 'Noto Sans', sans-serif;
	border-radius: 10px;
}

.chat-row-apodo {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 0px 10px 0px 0px;
    font: 18px/22px 'Noto Sans', sans-serif;
    color: #000000;
}

.chat-window {
    bottom: 18px;
}

.chat-window-message {
    width: 100%;
    height: 50px;
    font: 24px/40px 'Noto Sans', sans-serif;
    background: '#000000';
    color: '#0AD5C1';
    border: 1;
    border-bottom: 1px solid $chat-thread-bgd-color;
    outline: none;
}

.frame-square {
  background: #fff;
  display: block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: .5em;
  margin-bottom: .3em;
}

.aspect {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }
}

</style>