<style type="social/css">

	h1 {
		font-size: 2em;
		font-weight: bold;
	}

	p{
		color:#000000;
		margin-top:20px;
		padding-left: 20px;
		font-weight: bold;
	}
	body {
		color: black;
		background-color:#bdfccf;
	}

	.panel-collapse{
		margin-left: 300px;
		background-color:#bdfccf;
	}

	.option-list {
      background: #f1f1f1;
      width: 1000px;
      border: 1px solid #333;
      margin: auto;
      margin-top: 30px;
    }

    .topnav {
      list-style-type: none;
      width:100%;
      background:#65faa6;
      color: #000;
      display:table;
      padding-left:0;
    }

    .topnav li {
      display:table-cell;
      font-size:1.5em;
      padding:15px;
      text-align:center;
      width:50%;
    }

    .active {
      background: #fed40d;
    }

    .user-list tbody td .user-link {
        display: block;
        font-size: 1.25em;
        padding-top: 3px;
        margin-left: 60px;
    }
    a {
        color: #3498db;
        outline: none!important;
    }
    .user-list tbody td>img {
        position: relative;
        max-width: 50px;
        float: left;
        margin-right: 15px;
    }

    .table thead tr th {
        text-transform: uppercase;
        font-size: 0.875em;
    }
    .table thead tr th {
        border-bottom: 2px solid #e7ebee;
    }
    .table tbody tr td:first-child {
        font-size: 1.125em;
        font-weight: 300;
    }
    .table tbody tr td {
        font-size: 0.875em;
        vertical-align: middle;
        border-top: 1px solid #e7ebee;
        padding: 12px 8px;
    }

    .fa-check {
      color: green;
    }

    .fa-times {
          color: red;
    }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

</style>
